#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

:host {
  ion-header ion-toolbar::shadow {
		--background: rgb(2, 47, 53);
	}
  ion-content.background {
    --background: url(../../assets/background2.png) no-repeat center center / cover;
  }
}

.botonRegistrar {
  position: fixed;
  bottom: 100px;
  width: 100%;
}

.botonCalib {
  position: fixed;
  bottom: 50px;
  width: 100%;
}