<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Control EEG
    </ion-title>
    <ion-button color="secondary" slot="end" [routerLink]="['/registro-usuario']">
      <ion-icon name="person-add-outline"></ion-icon>
      Registro
    </ion-button>
    <ion-button slot="end" [routerLink]="['/bluetooth']">
      <ion-icon slot="icon-only" name="bluetooth-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background" no-scroll padding>
  <ion-button class="botonRegistrar" color="primary" expand="block" shape="round" [disabled]="conectado==0" [routerLink]="['/registro-eeg']">
    Registrar EEG
  </ion-button>
  <ion-button class="botonCalib" color="primary" expand="block" shape="round" [disabled]="conectado==0" [routerLink]="['/calibracion']">
    Calibracion
  </ion-button>
</ion-content>
