<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Control EEG
    </ion-title>
    <ion-button color="secondary" slot="end" (click)="agregarRegistro()">
      <ion-icon name="person-add-outline"></ion-icon>
      Registro
    </ion-button>
    <ion-button slot="end" (click)="conectarBTH()">
      <ion-icon slot="icon-only" name="bluetooth-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" expand="block" shape="round" [disabled]="conectado==0" (click)="startEEG()">
    <ion-icon slot="start" name="play-circle-outline"></ion-icon>
    Comenzar Medicion
  </ion-button>
  <ion-button color="danger" expand="block" shape="round" [disabled]="conectado==0" (click)="stopEEG()">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Parar Medicion
  </ion-button>
</ion-content>
